<h2> Crowdfunder at a glance </h2>

<p> Projects created: <%= @projects_number %></p>
<p> Projects funded: <%= @projects_funded %></p>
<p> Successful projects: <%= @successful_projects %></p>
<p> Funding received by successful projects: $<%= @successful_projects_funding %></p>
