<h1>Projects</h1>

<% if @projects.present? %>
<%= render '/projects/projects' %>
<% else %>
<p>There are no projects containing the term(s) <%= params[:search] %>.</p>
<% end %>

<% flash.each do |key, message| %>
<div class="flash-<%= key %>"><%= message %></div>
<% end %>
